/.idea
*.iml
/target
/backend-amd64/target
/backend-common/target
/backend-javascript/target
/backend-python/target
/backend-testing/target
/cli/target
/core/target
/core-tests/target
/frontend/target
/interpreter/target
/stack-interpreter/target
/testing/target
shedDependencies
