/.idea
*.iml
/target
/backend-amd64/target
/backend-common/target
/backend-javascript/target
/backend-llvm/target
/backend-python/target
/backend-testing/target
/cli/target
/core/target
/core-tests/target
/frontend/target
/interpreter/target
/stack-interpreter/target
/stack-ir/target
/stdlib-llvm/*.o
/stdlib-llvm/utf8proc-2.4.0/
/testing/target
shedDependencies
